html,body {
        height: 100%;
        width:100%;
        margin: 0;
        padding: 0;
        font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif !important;
        font-weight: 400;
}

input{
    background: transparent;
    border-bottom: 2px solid black;
}

.col{
    padding: 0px 1px !important;
}

.border{
   border: none !important;
}

.tabs .tab a {
    color: black !important;
    padding: 0 30px !important;
}

.tabs .indicator {
    background-color: green !important;
}

.analytics-type-tab{
    width:140px !important;
}

.input-field {
     margin-top: 0rem !important;
}

.select-wrapper input.select-dropdown {
    margin: 0 !important;
    padding: 0 !important;
}

input[type="text"] {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  text-align: center;
  border-bottom: 1px solid #ccc!;
  height: 3rem;
}

input[type="text"]:focus {
  outline: none;
}

#map {
    height: 100%;
    width:100%;
}

#app{
    height: 100%;
    width:100%;
}

.analytics-uber-logo{
    position: absolute;
    left: 20px;
    top: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px 25px;
    border-radius: 2px 2px;
}

.analytics-types{
    position: absolute;
    right: 7px;
    top: 10px;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    height: 50px;
}

.analytics-type{
    display: inline;
}

.analytics-clear-boundry{
    position: absolute;
    right: 45%;
    top: 10px;
    cursor: pointer;
    background-color: #629dfc !important;
    padding: 5px 25px;
    border-radius: 0 0 2px 2px;
    color: white;
}

.analytics-time-filters{
    position: absolute;
    left: 20px;
    bottom: 44px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 2px 2px;
}

.analytics-time-input{
    padding: 1px 1px;
    border: none;
    box-shadow: none !important;
}

.analytics-time-input-request{
    margin-left: 10px;
}

.analytics-progress-bar{
    position: absolute !important;
    height: 4px;
    width: 100% !importan;
    background-color: #acece6;
    overflow: hidden;
    bottom: 0px;
    margin: 0px !important;
}